@import "../settings/variables";

.card {
  background-color: $clrMain;

  padding: 2%;

  flex-basis: 25%;

  border-radius: 1em;


  figcaption {
    padding-top: 4%;

    h2 {
      font-size: 1.5em;
      font-weight: bold;
    }

    h4 {
      margin: 3% 0;
    }

    p {
      font-size: 1.5em;
    }
  }

  transition-duration: 0.5s;

  &:hover {
    background-color: $clrDark;
  }
}

.card-small {
  background-color: $clrMain;

  padding: 2%;

  flex-basis: 20%;

  border-radius: 1em;


  figcaption {
    padding-top: 4%;

    h2 {
      font-size: 1em;
      font-weight: bold;
    }

    h3 {
      font-size: 1.5em;
    }

    h4 {
      margin: 3% 0;
    }

    p {
      font-size: 1em;
    }
  }


  transition-duration: 0.5s;

  &:hover {
    background-color: $clrDark;
  }
}